[submodule "tools"]
	path = tools
	url = git://github.com/tart/GUI-Tools.git
[submodule "third_party/jasmine"]
	path = third_party/jasmine
	url = https://github.com/pivotal/jasmine.git
[submodule "third_party/goog"]
	path = third_party/goog
	url = https://github.com/tart/closure-library.git
